body {
    font-family: sans-serif;
    margin: 20px;
}

#asignaciones {
    margin-bottom: 20px;
}

.form-asignacion label,
.form-asignacion input,
.form-asignacion select,
.form-asignacion button {
    display: block;
    margin-bottom: 10px;
}
